header {
    background: #bbbbbb;
}
.banner {
    width: 100%;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

nav {
    top: 135px;
    right: 0px;
    position: absolute;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Arial Narrow Bold', sans-serif;
}

nav a:hover {
    color: blue;
}
.lista-topicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.lista-topicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    border: solid black 3px;
    border-radius: 25px;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.lista-topicos li:hover{
    border-color: blue;
    font-size: 20px;
}

.lista-topicos li:active {
    border-color:red;
}

footer {
    text-align: center;
    background-color: #bbbbbb;
    color: blue;
}
footer p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 0 0 80px 0;
}
footer img{
    margin: 80px 0 10px 0;
}
main {
    width: 940px;
    margin: 0 auto;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 20px 0 10px;
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 20px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: rgb(70, 70, 255);
    transform: scale(1.2);
}
#tabela{
    margin: 20px 0 40px;
    border: 1px solid black
}

thead {
    background: #414141;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}

#tabela-rodape td{
    border: 1px solid black;
    padding: 15px 8px;
}
/* refazendo estilo da primeira página */

.imagem-sobre {
    width: 180px;
    float: left;
}

.textos{
    padding: 3em 0;
    background: #fefefe;
}
.titulo {
    text-align: center;
    font-size: 50px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 20px 0;
}
.topicos{
    font-size: 30px;
    font-style: initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
}
/* como pegar elememtos unicos para tratar aquele conteudo exemplo pegar apenas a primeira frase e o resto 
seguir normal conforme codificado
.topicos:first-child {
}
.topicos:nth-child(2n) numero par dentro do parenteses pega par e numero impar pega impar
*/
p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}

.para-2{
    padding: 10px 0;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 550px;
    margin: 2em auto;
    
}

.imagem-rede {
    width: 60%;
    opacity: 0.3;
    box-shadow: 10px 10px 20px 5px black;
    /* eixo x y transparencia intensidade da borda*/
}
.imagem-rede:hover {
opacity: 1;
transition: 400ms;
}
.conteudo {
    width: 640px;
    margin: 0 auto;
}

.lista-continuada{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}