header {
    background: #bbbbbb;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

nav {
    top: 135px;
    right: 0px;
    position: absolute;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.lista-topicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.lista-topicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    border: solid black 3px;
    border-radius: 25px;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
}