body{
    background-color: #ececec;
}

.banner{
    width: 100%;

}
.textos{
    background-color: #cccccc;
    padding: 30px;
}
.titulo{
    font-size: 50px;;
}
.topicos{
    font-size: 30px;
    font-style: initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.para-2{
    color: black;
    text-align: center;
}
.titulo-principal{
    padding-left: 20px;
}
.titulo{
    text-align: center;
    padding: 30px;
    margin: 20px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}
p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}
.listas{
    background-color: #cccccc;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 18%;
}
.imagem-rede{
    width: 50%;
}