body{
    background-color: #ececec;
}

.banner{
    width: 100%;

}
.titulo{
    font-size: 50px;;
}
.topicos{
    font-size: 30px;
    font-style: initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.para-2{
    color: black;
    text-align: center;
}

h1{
    text-align: center;
    color: black;
    border: 10px solid black;
    padding: 100px;
    margin: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}
h2{
    font-size: 40px;
    font-style: initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}